.stress-container {
  margin: 10px;
}

.aspects-container {
  display: flex;
  flex-direction: column;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.stunt-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stunt-dropdowns-container {
  display: flex;
  flex-direction: column;
}

.stunt-selector {
  width: 250px;
}

.skill-multiselector {
  display: flex; 
  flex-direction: row;
  align-items: center;
  width: 600px;
  margin: 5px 10px;
}

.stunt-description {
  width: 50%;
  min-height: 100px;
  border: 1px solid black ;
}