:root {
  --fate-blue: #1b75bc;
}

/* main {
  display: flex;
  justify-content: center;
} */

.header-container {
  display:flex;
  justify-content: center;
  padding: 10px;
  margin: 5px 0;
}

.footer {
  margin-top: 5rem;
  background-color:lightgray;
}

.title {
  color: var(--fate-blue)
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1170px;
}

.card-content {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 10px 5px;
}

.flex-rows {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* Came default */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  margin: 10px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
