.navbar-container {
  display: flex;
  justify-content: center;
}

/* small {
  font-size: 75%;
}

header {
  background-color: darkblue;
  border: cornflowerblue solid 3px;
}

.site-title {
  color: ghostwhite;
  text-align: center;
}

nav .container {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

nav .container li {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: cornsilk;
  box-sizing: border-box;
  background-color: cornflowerblue;
  list-style-type: none;
}

.nav-link {
  color: cornsilk;
  text-decoration: underline;
  cursor: pointer;
}

.active {
  color: maroon;
}

.nav-link:hover {
  color: maroon;
} */