.stunts-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1170px;
}

.stunt-card {
  width: 350px;
  min-height: 200px;
  padding: 10px;
}

.stunts-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  padding: 3px; 
}

.associated-skill {
  color: #aaa;
}